<!-- <% if @user.destinations.empty? %>
  <h3>It looks like you are up to something exciting,</h3>
  <%= link_to "Let's add a new destination!", new_user_destination_path(@user) %>
<% else %>
  <%= link_to "Add a new destination", new_user_destination_path(@user) %><br>
  <%= link_to "See the places you've visited", visited_destinations_path %>
<% end %>

  <h2>Your bucket list:</h2>
    <h3>You have visited these destinations:</h3>
    <% @user.destinations.each do |destination| %>
      <% if destination.visited %>
        <p><%= destination.name.upcase %> - <%= destination.description %></p>
        <%= link_to "See More", user_destination_path(@user, destination) %>
      <% end %>
    <% end %>

    <h3>You have not visited these destinations:</h3>
    <% @user.destinations.each do |destination| %>
      <% if !destination.visited %>
        <p><%= destination.name.upcase %> - <%= destination.description %></p>
        <%= link_to "See More", user_destination_path(@user, destination) %>
      <% end %>
    <% end %> -->
