<%= render 'layouts/form_messages', object: destination %>

<%= form_for destination do |f| %>
  <%= f.hidden_field :user_id %>

  <%= f.label :name %>
  <%= f.text_field :name %><br>

  <%= f.label :description %>
  <%= f.text_area :description %><br>

  <%= f.label :coutry %>
  <%= f.text_field :country %><br>

  <%= f.label :best_season_to_visit %>
  <%= f.text_field :best_season_to_visit %><br>

  <%= f.check_box :visited %>
  <%= label :visited, "Check box if you visited this destination.", class: 'form-control' %><br>

  <p><strong>Add a category to this destination:</strong></p>

  <%= f.collection_check_boxes :category_ids, categories, :id, :title %><br>

  <%= f.fields_for :categories, destination.categories.build do |c| %>
    <%= c.label :title %>
    <%= c.text_field :title %>

    <%= c.label :climate %>
    <%= c.text_field :climate %>

    <%= c.label :must_have_items %>
    <%= c.text_field :must_have_items %>
  <% end %>
  <br><br>

  <%= f.submit class: 'btn btn-info' %>
<% end %>
<br>

<%= link_to "Back", destinations_path %>
