<a href="#" class="js-next" data-id="<%= @destination.id %>">Next Destination</a>

<h2 class="name"><%= @destination.name %></h2>
<p class="description"><b>Description:</b> <%= @destination.description %></p>
<p class="country"><b>Country:</b> <%= @destination.country %></p>
<p class="best_season_to_visit"><b>Best season to visit:</b> <%= @destination.best_season_to_visit %></p>

<% if @destination.visited %>
  <p><b>You visited this destination!</b></p>
<% else %>
  <p><b>You have not visited this destination yet.</b></p>
<% end %>

<h3>Destination categories:</h3>
  <div id="categories">
    <%= render 'categories/categories' %>
  </div>

<h4>Add a new category to this destination:</h4>
  <%= form_for([@destination, @category], :remote => true) do |f|  %>
    <%= f.label :title, 'Title' %>
    <%= f.text_field :title %><br>
    <p><%= f.submit %></p>
  <% end %>
<%= javascript_include_tag "destinations" %>
<div class="edit-link">
  <%= link_to "Edit", edit_destination_path(@destination) %>
</div>

<div class="delete-link">
  <%= link_to "Delete", destination_path(@destination), method: :delete, data: { confirm: "Are you sure you want to delete this destination?" } %>
</div>

<%= link_to 'Back', destinations_path %>
