<h1><%= @destination.name.upcase %> - <%= link_to 'Edit', edit_destination_path(@destination) %> - <%= link_to 'Delete', destination_path(@destination), method: :delete, data: { confirm: "Are you sure you want to delete this destination?" } %></h1>
<p><%= @destination.description %></p>
<p>Country: <%= @destination.coutry %></p>
<p>Best season to visit: <%= @destination.best_season_to_visit %></p>

<% if @destination.visited %>
  <p>You visited this destination!</p>
<% else %>
  <p>You have not visited this destination yet.</p>
<% end %>

<h2>Destination categories:</h2>
<% if @categories == [] %>
  <div><h3>You haven't added any categories yet.</h3></div>
  <div><%= button_to 'Add a category', new_destination_category_path(@destination), class: 'btn btn-primary', method: :get %></div>
<% else %>
  <ul><%= render(@categories) %></ul>
<% end %>
