<%= render 'layouts/form_messages', object: @category %>
  <%= form_for ([@destination, @category]) do |f| %>

  <div class="form-group">
    <%= f.label :title, 'Title' %>
    <%= f.text_field :title, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :climate, 'Climate' %>
    <%= f.text_field :climate %>
  </div>

  <div class="form-group">
    <%= f.label :must_have_items, 'Must Have Items' %>
    <%= f.text_field :must_have_items %>
  </div>

<%= f.submit class: 'btn btn-info' %>
<% end %>

<div id="categoryResult">
  <h2 id="title"></h2>
  <p id="climate"></p>
  <p id="must_have_items"></p>
</div>

<%= javascript_include_tag "categories" %>
