<%= render 'layouts/form_messages', object: @category %>
  <%= form_for ([@destination, @category]) do |f| %>

  <%= f.label :title, 'Title' %>
  <%= f.text_field :title %><br>

  <%= f.label :climate, 'Climate' %>
  <%= f.text_field :climate %><br>

  <%= f.label :must_have_items, 'Must Have Items' %>
  <%= f.text_field :must_have_items %>
  <br><br>

<button type="submit" class="btn btn-primary">Submit</button>
<% end %>
