<h2 id="title"><%= @category.title %> category</h2>
<p id="climate"><b>Climate:</b> <%= @category.climate %></p>
<p id="must_have_items"><b>Must have:</b> <%= @category.must_have_items %></p>

<h3>See destinations in this category:</h3>
  <div id="destinations">
    <% @destinations.each do |destination| %>
      <li><%= link_to destination.name, destination_path(destination) %></li>
    <% end %>
  </div>
<br><br>

<div class="edit-link">
  <%= link_to "Edit", edit_category_path(@category) %>
</div>

<div class="delete-link">
  <%= link_to "Delete", category_path(@category), method: :delete, data: { confirm: 'Are you sure you want to delete this category?' } %>
</div>

<%= link_to 'Back', categories_path %>
